Support for abbreviated IPv4 subnet notation?

I recently started using this library and while adding unit tests for the new functionality noticed a few corner cases.

Like with IPv6, IPv4, too, has some abbreviated subnet notations. Like with the `::` in IPv6 addresses, these are only supported at the end of the IP string and assumes that any missing bits get expanded to all zeros. This abbreviated notation is, for example, supported in both [GNU](https://linux.die.net/man/3/inet_network) and [BSD libc](https://www.freebsd.org/cgi/man.cgi?query=inet_net&sektion=3&apropos=0&manpath=FreeBSD+12.2-RELEASE+and+Ports). While this abbreviated notation is therefore widely supported in many utilities that link the libc, I couldn't find RFC documentation that specifically formalizes it, but it is used in RFCs to describe networks, for example in [RFC 1338, section 5](https://datatracker.ietf.org/doc/html/rfc1338#section-5).

Here are some example abbreviations and their equivalents in the currently supported notation:
- `'127/24'` ~ `127.0.0.*`
- `'10/8'` ~ `10.0.0.0/8`
- `'10.10.10/24'` ~ `10.10.10.0/24`

This is certainly not blocking anyone and one can easily use a different network notation to get the desired result. Many folks don't even know of these abbreviations. Given that implementing this will increase complexity of the library and therefore introduces risks, I can totally understand, if this is considered to be outside of the scope of this library, which would conclude this issue, documenting that these notations are not supported.

If you, on the other hand, would consider reviewing a merge request for this. I'd be willing to invest a few hours to raise one for such a feature + test cases.

Yep, I'd be glad to review such a pull request 